.mainContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
}

.bottomContainer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.bottomContainer button {
    padding: 8px 16px;
    padding-bottom: 20px;
    margin-bottom: -10px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #333;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.bottomContainer button:hover {
    background-color: white;
    transform: scale(1.05);
}

.bottomContainer button.active {
    background-color: white;
    border: 2px solid #000;
    scale: 1.2;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}