.heroContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.textContainer {
    margin-left: 10%;
    max-width: 30%;
}

.heroHeader {
    font-size: 70px;
}

.heroDesc {
    font-size: 15px;
}