.startContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: end;
}

.textContainer {
    margin-right: 10%;
    box-sizing: border-box;
    max-width: 30%;
}

.startHeader {
    font-size: 70px;
    text-align: right;
}

.startDesc {
    text-align: right;
    font-size: 15px;
}